.Main{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 700px) {
    .Main {
      flex-direction: row;
    }
    .right-col{
        flex-grow: 1;
    }
  }

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    color: "#5a2434";
}

.input-text{
    width: 90vw;
    height: 50vh;
    color: "#5a2434";
}

.left-col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    flex-grow: 1;
}

